@charset "UTF-8";
@font-face {	font-family: "NanumGothic";
				src: url(fonts/NanumGothic.ttf); }
@font-face {	font-family: "NanumGothicBold";
				src: url (fonts/NanumGothicBold.ttf); }

body { 	background-color : rgb(215, 215, 215);
		font-family : "NanumGothic", serif, san-serif; }
	
#select {	background-color : rgba(190, 190, 190, 0.75); }

.db {	background-color : rgb(255, 255, 255);
		display : none;
		border : 2px solid black; }