@charset "UTF-8";
@font-face {	font-family: "NanumGothic";	src: url(../fonts/NanumGothic.ttf);}
@font-face {	font-family: "NanumGothicBold";	src: url(../fonts/NanumGothicBold.ttf);}

body,h1,h2,h3,h4,input,button
{
	font-family : "NanumGothic", "NanumGothicBold", verdana, dotum, Helvetica, sans-serif;
	font-size : 13px;
	color : #383d41;
}

#warp
{
	margin-left : 2.5px;
}